@use './colours';

:root {
  --foo: 10;
}

body {
  box-sizing: border-box;
  margin: 0;

  background: colours.$secondary;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  text-align: center;
}
